*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html,
body {
  height: 100%;
  font-size: 62.5%; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

#root,
#__next {
  isolation: isolate; }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: none;
  transition: background-color 1s ease; }

.moon {
  margin-top: 30px; }
  .moon__icon {
    fill: #adaaaa;
    width: 200px;
    height: 200px; }

.cover {
  width: 100%;
  height: 100%;
  position: absolute; }

.cloud {
  position: absolute;
  left: 80px;
  bottom: 30px; }
  .cloud__icon {
    width: 350px;
    height: 350px;
    fill: #adaaaa; }
  .cloud__icon-s {
    width: 275px;
    height: 275px; }

.scloud {
  right: 90px;
  bottom: 150px;
  left: auto; }

.weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(13, 14, 32, 0.17);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: sans-serif;
  color: #ffff;
  font-weight: 700;
  padding: 50px 25px;
  margin-top: 80px; }
  .weather__left {
    display: flex;
    align-items: center;
    justify-content: center; }
    .weather__left__icon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 20px; }
      .weather__left__icon--fill {
        fill: white;
        width: 90px;
        height: 90px; }
    .weather__left__degree {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4.5rem;
      margin-left: 20px; }
    .weather__left__line {
      height: 125px;
      width: 2px;
      background-color: #fff;
      margin: 0px 15px 0px 30px; }
    .weather__left__phwinfo {
      padding: 10px 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.75rem;
      font-weight: 200;
      color: white; }
      .weather__left__phwinfo--box:nth-of-type(2) {
        margin: 15px 0px; }
  .weather__right {
    height: 100%;
    height: 100%;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.75rem;
    font-weight: 300; }
    .weather__right__name {
      font-weight: 500;
      font-size: 2.5rem; }
    .weather__right__date {
      margin: 15px 0px; }
