*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  overflow: hidden;
  position: relative;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: #222222;
  background-color: none;
  transition: background-color 1s ease;
}

.spinner {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  &__main {
    height: 55px;
    width: 55px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 100% 50%, 100% 0%);
    animation: spinner 1s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 1.5px solid #f5f5f5;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 100% 50%, 100% 0%);
    animation: rspinner 1s ease infinite;
  }
}

.weather {
  // background-color: red;
  position: relative;
  // height: 180px;
  // width: 800px;
  display: flex;
  justify-content: center;
  transform: translateY(20px);

  margin-top: 80px;
  display: none;
  animation: displayWeather 1s ease forwards;

  &__moon {
    position: absolute;
    // border: 1px solid red;
    top: -200px;
    display: none;
    opacity: 0;
    animation: displayMoon 1s ease forwards 1s;

    &--icon {
      // width: 100px;
      // height: 100px;
      fill: rgb(205, 205, 205);
    }
  }

  &__sun {
    position: absolute;
    // border: 1px solid red;
    top: -200px;
    display: none;
    opacity: 0;
    animation: displayMoon 1s ease forwards 1s;

    &--icon {
      width: 100px;
      height: 100px;
      fill: #ddc828;
    }
  }

  &__cover {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(13, 14, 32, 0.17);
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    font-family: sans-serif;
    color: #ffff;
    font-weight: 700;
    padding: 50px 25px;

    z-index: 10;
  }

  &__left {
    // height: 100%;
    // width: 50%;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;

    &__icon {
      height: 100%;
      // width: 10px;
      // border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: #fff;
      margin: 0px 20px;

      &--fill {
        fill: white;
        width: 90px;
        height: 90px;
      }
    }
    &__degree {
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4.5rem;
      margin-left: 20px;
    }

    &__line {
      height: 125px;
      width: 2px;
      background-color: #fff;
      margin: 0px 15px 0px 30px;
    }

    &__phwinfo {
      // height: 100%;
      padding: 10px 0px;
      height: 100%;
      // border: 1px solid red;
      // width: 250px;s
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.75rem;
      font-weight: 200;
      color: rgb(255, 255, 255);

      &--box:nth-of-type(2) {
        // border: 1px solid red;
        margin: 15px 0px;
      }
    }
  }

  &__right {
    height: 100%;
    // border: 1px solid blue;
    height: 100%;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.75rem;
    font-weight: 300;

    &__name {
      // border: 1px solid red;
      font-weight: 500;
      font-size: 2.5rem;
    }

    &__date {
      margin: 15px 0px;
    }
  }
}

.cloud {
  position: absolute;
  // width: 100px;
  // border: 1px solid red;
  left: -125px;
  bottom: -105px;
  z-index: 9;
  opacity: 0;
  animation: leftSVG 1s ease forwards 1.2s;
  // border: 1px solid red;

  &__icon {
    width: 200px;
    height: 200px;
    fill: #f5f5f5;
    // opacity: 1;
  }

  &__sicon {
    width: 100px;
    height: 100px;
    fill: #f5f5f5;
  }
}

.cloud:nth-of-type(2) {
  right: -50px;
  top: -50px;

  left: auto;
  bottom: auto;
  z-index: 15;

  animation: rightSVG 1s ease forwards 1.4s;
}

//? ANIMATIONS

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  // 50% {
  //   transform: rotate(180deg);
  // }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rspinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes displayWeather {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  75% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes leftSVG {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  75% {
    opacity: 1;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rightSVG {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  75% {
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes displayMoon {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 500px) {
  .weather {
    &__sun {
      top: -155px;
    }

    &__moon {
      top: -135px;
      &__icon {
        width: 130px;
        height: 130px;
      }
    }

    text-align: center;
    &__cover {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    &__left {
      flex-direction: column;

      &__line {
        height: 2px;
        width: 100%;
        margin: 10px 0px;
      }
    }
    &__right {
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 365px) {
  .cloud {
    &__sicon {
      display: none;
    }
  }
}
